body {
    padding-top: 20px;
}

.tab-pane {
    padding-top: 20px;
}

h3 {
    margin-top: 40px;
}

.actions {
    white-space: nowrap;
    text-align: right;
}

#newproject_spreadsheet_emails {
    resize: none;
}

/*  progress spinner
*/
.glyphicon.spinning {
    animation: spin 2s infinite linear;
    -webkit-animation: spin2 2s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}


/*  in-modal progress panel 
*/
.modal-progress {
    position:absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    min-height: 100px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.85;
    z-index: 1000;
}
.modal-progress > div {
    display: table;
    width: 100%;
    height: 100%;
}
.modal-progress > div > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.modal-progress span.glyphicon {
    font-size: 40px;
    margin-bottom: 10px;
}


