# Common requirements for tarbell projects
#
# basic
#
Flask==0.10.1
PyYAML==3.11
sh==1.9
Markdown==2.4.1
clint==0.4.1
#
# spreadhseets
#
google-api-python-client==1.3.1
httplib2==0.9
oauth2client==1.4.6
xlrd==0.9.3
#
# TODO, used by app.py
#
#
# We need stuff from these tarbell modules:
#
#   .errors     no secondary imports
#   .hooks      no secondary imports
#   .oauth      (see above)
#   .settings   no secondary imports
#   .utils      (see above)
#
# TO-DO:
#   .app
#
# need clint?
